{% extends 'base.html' %}
{% load static %}


{% block content %}



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Student_Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Email</th>
      <th scope="col">Field Of Study</th>
      <th scope="col">GPA</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    
    <tr class="table-secondary">
      <th scope="row">{{student.student_id}}</th>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.field_of_study}}</td>
      <td>{{student.gpa}}</td>
      <td><a type="button" class="btn btn-info" href='{%  url 'view_student' student.id %}'><i class="fa-solid fa-eye"></i></a>
        <a type="button" class="btn btn-danger" href='{%  url 'update_student' student.id %}'><i class="fa-solid fa-pen"></i></a>
          <a type="button" class="btn btn-warning" href='{%  url 'delete_student' student.id %}'><i class="fa-solid fa-trash"></i></a>
      </td>
      
    </tr>
    
    {% endfor %}
  </tbody>
</table>

 
 

{% endblock content %}